---
// Por ahora este componente es 100% estático (0 JavaScript)
import CartIcon from "./react/CartIcon";
---

<!-- sticky top-0 y z-50 hacen que la barra se quede pegada arriba al hacer scroll -->
<div class="navbar bg-base-100 border-b border-base-200 sticky top-0 z-50 px-4 md:px-8">
  
  <div class="avatar">
   <div class="w-15 rounded-2xl">
      <a href="/">
        <img src="/logo.png" />
      </a>
    </div>
  </div> 

  <!-- Parte Izquierda (Logo/Título) -->
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl font-bold tracking-tight">
      Shiro Store
    </a>
  </div>

  <!-- Parte Derecha (Botón del Carrito) -->
  <div class="flex-none">
    
    <!-- En el futuro reemplazaremos este div por nuestra "Isla" de Preact -->
    <!-- <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        
        <div class="indicator">
          
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
          
          <span class="badge badge-sm badge-primary indicator-item">0</span>
          
        </div>
      </div>
    </div> -->
    
    <CartIcon client:load/>

  </div>
</div>